body {
    justify-content: center;
}

header {
    text-align: center;
    /* border: 1px solid black; */
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

#box {
    background-color: steelblue;
    border-radius: 1%;
}

h1 {
    /* border: 1px solid black; */
    text-align: center;
    font-family: impact;
}


/* Special thanks to w3schools for their excellent tutorial for this drop-down menu 
https://www.w3schools.com/howto/howto_css_dropdown.asp
*/
#dropdown {
    position: relative;
    float: right;
}

#dd-content {
    display: none;
    border: 1px solid black;
    position: absolute;
    right: 0;
    min-width: 100px;
    background-color: lightgray;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 5px;
    z-index: 1;
}

#dropdown:hover #dd-content {
    display: block;
}

.dd-form {
    display: none;
}

.dd-form.show {
    display: block;
}
/* End Drop-down menu---------------------------------------------------------------- */

#user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* border: 1px solid black; */
}

#logo-img {
    width: 150px;
    height: 120px;
    /* border: 1px solid black; */
}

h2 {
    text-align: center;
    font-family: impact;
}

/* #show-form {

} */

#add-container {
    height: auto;
    border-style: solid;
    border-color: gray;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: gray;
    padding: 5px;
}

#add-container.collapse {
    height: 180px;
    padding: 10px;
    background-color: aqua;
    display: none;
}

#routine.empty {
    display: none;
}

#routine-tabs {
    border: 1px solid black;
    
}

.tab-button {
    background-color: black;
    color: white;
}

.favorite-tab {
    background-color: black;
    color: white;
}

#user-list {
    text-align: center;
    display: flex;
    overflow: auto;
    margin: 1rem 0;
    margin-top: 0px;
    white-space: nowrap;
    background-color: lightsteelblue;
}

.routine-card {
    display: inline-block;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 2px;
    padding-left: 2px;
    line-height: 1px;
}

.routine-card.done {
    background-color: gray;
    opacity: 50%;
}

#card-list {
    background-color: lightsteelblue;
    text-align: center;
}

.card {
    text-align: center;
    padding: 5px;
    width: 215px;
    height: 420px;
    display: inline-block;
    margin: 10px;
    border-style: solid;
    border-color: black;
    box-shadow: 3px 4px gray;
    line-height: 25px;
}

.card.selected {
    display: none;
}

img.exercise-img {
    justify-self: center;
    height: 200px;
    width: 210px;
    border-color: black;
    border-style: solid;
}

div.card input[type=text] {
    width: 50px;
}

#card-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    margin: auto;
}
