body {
    justify-content: center;
}

header {
    text-align: center;
    border: 1px solid black;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

/* header h1 {
    border: 1px solid black;
} */

/* #viewport {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden; 
    border-radius: 50%;
} */

#user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* border: 1px solid black; */
}

#logo-img {
    width: 150px;
    height: 80px;
    border: 1px solid black;
}

h2 {
    text-align: center;
}

#add-container {
    height: auto;
    border-style: solid;
    border-color: gray;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: gray;
    padding: 5px;
}

#add-container.collapse {
    height: 0px;
    padding: 0px;
}

#add-container.collapse div {
    display: none;
}

#user-list {
    text-align: center;
    display: flex;
    overflow: auto;
    margin: 1rem 0;
    white-space: nowrap;
}

#user-list div {
    display: inline-block;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 2px;
    padding-left: 2px;
    line-height: 1px;
}

.card {
    text-align: center;
    padding: 5px;
    width: 215px;
    height: 400px;
    display: inline-block;
    margin: 10px;
    border-style: solid;
    border-color: black;
    box-shadow: 3px 4px gray;
    line-height: 25px;
}

img.exercise-img {
    justify-self: center;
    height: 200px;
    width: 210px;
    border-color: black;
    border-style: solid;
}

div.card input[type=text] {
    width: 50px;
}
